body {
    background-color: white;
    font-size:  14px;
    color: #333;
    margin: 0;
    
}
h1,h2,h3,h4,h5 {
    margin: 0 0 10px 0;
    padding: 0;
}
header {
    margin-top: 20px;
    
}
.container {
    width: 920px;
    margin: 0 auto 40px auto;
}
.header-title-area {
   margin-top: 40px;
   margin-bottom: 30px;
}
.logo {
    font-size: 32px;
    text-align: center;
}
.header-navigation {
    width: 100%;
    background-color: #333;
    padding: 20px 0;
}
.header-navigation:after {
    clear: both;
    display: block;
    content: " ";
    
}
.header-navigation li {
    float: left;
    padding: 0 30px;
    text-align: center;
    list-style-type: none;
}
.header-navigation li a {
    color: #fff;
    text-decoration: none;
}
.card-contents {
    padding:40px;
    display: block;
    margin-bottom: 20px;
    background-color: #fff;
}
.left-contents {
    width: 600px;
    margin-right: 10px;
    float: left;
}
.right-contents {
    width: 280px;
  
    float: right;
}
.blog-list-area:after{
    clear: both;
    display: block;
    content: " ";
}

.blog-list {
    width:  600px;
}   

.blog-image{
    margin-bottom: 20px;
    margin-right: 10px;
    border: 2px solid #efefef;
    width: 160px;
    height: 160px;
    display: block;
    float: left;
    
}
.blog{
  margin-bottom: 40px; 
    
}
 a{
    text-decoration: none;
    color: lightblue;
}   

.date {
   font-size: 15px;
   padding-top: 0;
    
}
.blog-text {
    font-size: 11px;
    
}
.blogsub-image {
   width: 50px;
  height: 50px;
  border: 2px solid #efefef;
  float: left;
}
.subdate{
    font-size: 10px;
    
}
.subtitle{
    font-size: 13px;
    margin-top: 0;
}
.main:after {
    clear: both;
    display: block;
    content: " ";
}
footer{
    width: 920px;
    margin: 0 auto 40px auto;

    
}
.copyright {
  color: #777;
  text-align: center;
}