body{
    color: #000;
    
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}
 .image {
      img {
    width: 100%;
    height:auto;
      }
    }
    
.main{
    font-weight: bold;
    font-size: large;
}
.body {
      font-size: 0.8em;
    }